<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.forim.armagin.user.dao.RoleMappingMapper">

    <select id="getRoleIdFromUserId" resultType="java.lang.Integer">
        select role_id
        from sys_user_role_mapping
        where user_id = #{userId}
          and deleted = 0
    </select>
</mapper>