<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.forim.armagin.user.dao.RoleMapper">

    <select id="getRoleCodeById" resultType="java.lang.String">
        select code
        from sys_role
        where id = #{id}
          and deleted = 0
    </select>
</mapper>