<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.forim.armagin.server.mapper.TransformEventRecordMapper">

    <insert id="insertBatchTransformEventRecord">
        insert into transform_event_record
        (unique_identity, client_ip, short_url, long_url, short_url_digest, long_url_digest, compression_code,
        user_agent, cookie_value, query_param, province, city, phone_type, browser_type, browser_version,
        os_type, device_type, os_version, transform_status)
        VALUES
        <foreach collection="list" item="record" separator=",">
            (
            #{record.uniqueIdentity},
            #{record.clientIp},
            #{record.shortUrl},
            #{record.longUrl},
            #{record.shortUrlDigest},
            #{record.longUrlDigest},
            #{record.compressionCode},
            #{record.userAgent},
            #{record.cookieValue},
            #{record.queryParam},
            #{record.province},
            #{record.city},
            #{record.phoneType},
            #{record.browserType},
            #{record.browserVersion},
            #{record.osType},
            #{record.deviceType},
            #{record.osVersion},
            #{record.transformStatus}
            )
        </foreach>
    </insert>

    <select id="selectVisitStatisticsDuration" resultType="cc.forim.armagin.server.infra.entity.VisitStatistics">
        SELECT COUNT(1)                             AS                `pv_count`,
               IFNULL(COUNT(DISTINCT unique_identity), 0)             `uv_count`,
               IFNULL(COUNT(DISTINCT client_ip), 0)                   `ip_count`,
               SUM(CASE WHEN transform_status = 3 THEN 1 ELSE 0 END)  `effective_redirection_count`,
               SUM(CASE WHEN transform_status != 3 THEN 1 ELSE 0 END) `ineffective_redirection_count`,
               DATE_FORMAT(record_time, '%Y-%m-%d') AS                `statistics_date`,
               compression_code                     AS                `compression_code`,
               short_url_digest                     AS                `short_url_digest`,
               long_url_digest                      AS                `long_url_digest`
        FROM transform_event_record
        WHERE deleted = 0
          AND record_time <![CDATA[>=]]> #{start,jdbcType=TIMESTAMP}
          AND record_time <![CDATA[<=]]> #{end,jdbcType=TIMESTAMP}
        GROUP BY compression_code, DATE_FORMAT(record_time, '%Y-%m-%d'), short_url_digest, long_url_digest
    </select>
</mapper>